.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 0 50px;
  background:url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}


.lots {
  margin: 180px 24px 155px;
}
/*
.about {
  margin: 0 24px 180px;
}

.footer {
  padding: 0 50px;
  font-size: 18px;
  font-weight: 400;
}
*/

.header__menu {
  
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px; /*Увеличиваем расстояние между буквами и подчеркиванием*/
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__element-offset {
  position: relative; /*Задаем относительное позиционирование для выравнивания */
  top: -3px; /*Смещение позиционирования для совпадения с макетом*/
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: black;
}

.cover__title {
  position: relative;
  box-sizing: content-box;
  height: 385px;
  padding-top: 165px;
  padding-bottom: 106px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 17px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 17px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right: -30px;/*Обнуление межбуквенного расстояния у последней буквы*/
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 100%;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
}

.lots__card-list-item {
 
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
 
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}